.controls
{
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding:5px;
    margin:5px;
}

.mainpane
{
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-border-radius:10px;
    background-color: rgba(255, 255, 255, 0.3);
    padding:5px;
    margin:5px;
    float:left;
}
.mainpane p
{
    color: #CCCCCC;
}

.subpanel
{
     margin:5px;
     padding:5px;
     background-color: rgba(255,255,255,0.3);
     -moz-border-radius: 4px;
     border-radius: 4px;
     -webkit-border-radius:4px;
}

.miniButton
{
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-border-radius:4px;
    margin: 0px;
    padding: 0px;
    padding-left:3px;
    padding-right:3px;
    font-size: 12px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.3);
    text-decoration: none;
}
.miniButton:hover
{
    background-color: rgba(100, 100, 100, 0.5);

}

div
{
    visibility: inherit;
}
span
{
    visibility: inherit;
}
body,h1,h2,h3,h4,h5,p
{
    color:#cccccc;
}

a
{
    text-decoration: underline;
    cursor:pointer;
}